* {
  box-sizing: border-box;
}
.container {
  border: 4px solid lightgray;
  padding: 80px 24px 80px 24px;
}

.row {
  width: 100%;
  max-width: 600px;
  display: flex;
justify-content: space-between;
}

.box {
  border: 4px solid lightgray;
  margin-bottom: 24px;

}

.box-small {
  height: 50px;
}

.box-tiny {
  width: 30%;
  height: 50px;

}
.tiny-wrapper{
  display: flex;

}

.box-large {
  width: 50%;
}
